<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">
		
		<bean id="ldt" class="java.time.LocalDateTime" factory-method="now" />
		
		<bean id="dt" class="java.time.LocalDate" factory-method="now" />
		
<!-- 		<bean id="dt1" class="java.time.LocalDate" factory-method="of"> -->
<!-- 		<constructor-arg name="year" value="2023" /> -->
<!-- 		<constructor-arg name="month" value="5" /> -->
<!-- 		<constructor-arg name="dayOfMonth" value="20" /> -->
<!-- 		</bean> -->
		
		<context:component-scan base-package="com.nt.sbeans" />

</beans>